body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
	font-family: Arial;
	font-size: 18px;
	color: rgb(14, 0, 0);
	line-height: 28px;
}
/* * {
	box-sizing: border-box;
} */

/* Sticky Footer */

#container {
	/* min-height: calc(100vh - 240px); */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

}

/* Main Page*/

h1, h2 {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: #9999cc;
	padding-bottom: 30px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 30px;
}

h1 {
	font-size: 30px;
	border-bottom: 2px solid rgb(204, 153, 153);
}

h2 {
	font-size: 22px;
	border-bottom: 1px solid rgb(204, 153, 153);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

header {
	background-color: #fff;
	margin-bottom: 40px;
	border-bottom: 2px solid rgb(204, 153, 153);
}

#logo {
	float: left;
	display: block;
	background-color:rgb(204, 153, 153);
	color:#ffffcc;
	font-family:"Verdana, Geneva, Tahoma, sans-serif";
	font-size: 30px;
	padding: 0 40px;
	line-height: 90px;
	font-weight: bold;
	text-decoration: none;
}

nav {
	margin-right: 20 px;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline-block;
	line-height: 90px;
}

nav ul li a {
	text-decoration: none;
	color: #9999cc;
	margin-left: 20px;
	line-height: 22px;
	padding-left: 20px;
	border-left: 1px solid rgb(204, 153, 153);
}

nav ul li:first-child a {
	border-left: 0;
}

.wrapper {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 20px;
}

footer {
	text-align: center;
	background-color:#9999cc;
	color: #ffffcc;
	line-height: 90px;
	margin-top: 40px;
	border-top: 8px solid rgb(204, 153, 153);
	font-size: 12px;
}

.module {
	background-color: #f1f1de;
	padding: 30px;
	border: 1px solid rgb(204, 153, 153);
}

#content {
	/* float: left; */
	width: 650px;
}

#social {
	/* width: 270px; */
	/* float: right; */
	text-align: center;
	background-color: #f1f1de;
	padding: 30px;
	border: 1px solid rgb(204, 153, 153);
	height: max-content;
}
#social-links {
display: flex;
flex-direction: row;

}
#social a img {
	height: 60px;
	width: 100px;
}

#social a {
	margin-right: 8px;
}

/* #social a:last-child {
	margin-right: 0; */
/* } */

/* .me {
	float: left;
	margin-right: 30px;
} */

/* Contact */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid rgb(204, 153, 153);
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffcc;
  cursor: pointer;
  background: #9999cc;
  border: 0 none;
}

/* Portfolio */

.work {
  position: relative;
  float: left;
  width: 215px;
  margin: 15px 0 20px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 150;
  line-height: 20px;
  color: #ffffcc;
  text-align: center;
  background: #9999cc;
  border-bottom: 0;
  font-family: "Georgia";
  font-size: 20px;
}

/* Hover */
#logo:hover,
input[type=submit]:hover {
  background: #9999cc;
}

nav a:hover {
  color: rgb(204, 153, 153);
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
#container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
#container {
	justify-content: start;
	align-items: flex-start;
	display:block;
}
}
	
  
 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}